.collapsible {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
    text-align: left;
    outline: none;
    font-size: 20px;
    margin-bottom: 32px;
}

.active, .collapsible:hover {
    color: rgba(255, 255, 255, 1);
    background-color: transparent;
}

.collapsible:after {
    content: '\002B';
    color: rgba(255, 255, 255, 0.5);
    float: right;
    margin-left: 5px;
}

.active:after {
    color: rgba(255, 255, 255, 1);
    content: "\2212";
}

.content {
    max-height: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}